aws_region   = "ap-northeast-2"
project_name = "petflow"
environment  = "dev"

domain_name           = "leechs.shop"
grafana_hostname      = "grafana.leechs.shop"
prometheus_hostname   = "prometheus.leechs.shop"
management_alb_name   = "petflow-dev-management"
alb_ingress_stack     = "petflow-dev-management"
eks_cluster_name      = "petflow-eks"
