aws_region   = "ap-northeast-2"
project_name = "petflow"
environment  = "dev"

domain_name              = "leechs.shop"
grafana_hostname         = "grafana.leechs.shop"
argocd_hostname          = "argocd.leechs.shop"
jenkins_hostname         = "jenkins.leechs.shop"
management_alb_name      = "petflow-dev-management"
alb_ingress_stack        = "petflow-dev-management"
public_alb_name           = "petflow-dev-public"
public_alb_ingress_stack  = "petflow-public"
eks_cluster_name         = "petflow-eks"
